* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
  overflow: hidden;
  height: 80%;
}

/* navigation */
#navbar {
  width: 100%;
  background-color: black;
}
.nav-list {
  display: flex;
  justify-content: right;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
}

.nav-list a {
  display: block;
  color: rgb(209 209 214);
  padding: 2rem;
  font-size: xx-large;
  margin-right: 1rem;
  text-decoration: none;
}

.nav-list a:hover {
  color: rgb(242 242 247);
  font-weight: bold;
    transition: ease-in-out;
}

header {
  text-align: center;
}
h1{
  font-family: "Roboto", sans-serif;
  font-size: 100px;
  margin: 3rem;
  padding: 1rem;
  color: gold;
  font-weight: 1000;
}

footer {
  text-align: center;
}

.mainContainer {
  display: flex;
 margin-bottom: -30rem;
}

.nav {
  margin-left: 2em;
  font-size: 18px;
}

.shipViewer {
  text-align: center;
  width: 80%;
  max-width: 1000px;
}

.box {
  font-size: xx-large;
  text-align: center;
}

.shipName {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: gold;
  justify-content: center;
}

img {
  display: flex;
  justify-content: center;
  padding: 2rem;
  width: 100%;
}

.navlist {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  overflow-x: scroll;
  height: 55%;
  width: 400px;
}

footer {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 1rem;
  font-size: x-large;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
}
