* {
    margin: 0;
    box-sizing: border-box;
}

/* navigation */
#navbar {
    width: 100%;
    background-color: black;
}
.nav-list {
    display: flex;
    justify-content: right;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

.nav-list a {
    display: block;
    color: rgb(209 209 214);
    padding: 2rem;
    font-size: xx-large;
    margin-right: 1rem;
    text-decoration: none;
}

.nav-list a:hover {
    color: rgb(242 242 247);
    font-weight: bold;
    transition: ease-in-out;
}

.facts{
    border: solid 3px;
    width: 80%;
    margin-left: 200px;
    padding: 1rem;
}

h2 {
    font-size: xx-large;
    font-family: 'roboto', sans-serif;
    margin-left: 10rem;
    display: flex;
}

.seniority {
    font-size: x-large;
    font-weight: 400;
    font-family: 'roboto', sans-serif;
    margin-left: 10rem;
    display: flex;
}

.missedVotes {
    font-size: xx-large;
    font-family: 'roboto', sans-serif;
    padding-left: 9.5rem;
    padding-bottom: 3rem;
    margin: .5rem;

}

button {
    justify-content: center;
    font-family: 'roboto', sans-serif;
    margin-left:3rem;
    margin: 1rem;
    width: 200px;  
    height: 60px;
    border-radius: 1rem;
    font-size: x-large;
    padding-top: 1rem;

}

.senators {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

figure {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-left: .5em;
    margin-right: .5em;
    margin-bottom: 3em;
}

figcaption {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'roboto', sans-serif;
    width: 100%;
}

h1 {
    font-weight: 700;
    font-size: 150px;
    display: flex;
    justify-content: space-around;
    margin: 3rem
}

.missed {
    padding-top: 1.5rem;
    display: flex;
    justify-content: left;
    margin: 0px;
}

footer {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-size: x-large;
    font-family: 'Source Sans Pro', sans-serif;
    color: black
}

.rep {
    border: solid 3px red;
}

.dem {
    border: solid 3px blue;
}

.ind {
    border: solid 3px green;
}

.mr-1 {
    margin-right: 1.5rem;
    margin-left: 2rem;
}

.filter {
    padding-left: 4rem;
    padding-top: 25px;
    font-size: 32px;
    display: flex;
    justify-content: space-around;
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}

.checkbox {
    display: flex;
    align-items: center;
}